.button{
    padding: 8px 10px 8px 10px;
    background-color: rgb(160, 95, 156);
    border: 1px solid white;
    color: white;
    font-size:small;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 8px;
}
.deleteEdit {
    padding: 0px;
    background-color: transparent;
    border:none;
    margin-left: 5px;
}
